# Temp files
.DS_Store
*~
buck-out/

# Compiled files
.venv/
__pycache__/
.*cache/

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/
/.coverage*

# docs
/docs/generated/
/docs/_build/
/docs/**/_autosummary/

# CREsted-specific
wandb/
*slurm*
.vscode
docs/tutorials/mouse_biccn.ipynb
tests/data/genomes
tests/data/test_pipeline
tests/data/test_contribution_scores/
