name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 5 1,15 * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python: ["3.11", "3.12", "3.13"]
        backend: ["tensorflow", "pytorch"]
        include:
          # Add one pre-release test
          - os: ubuntu-latest
            python: "3.13"
            backend: "tensorflow"
            pre-release: true
    name: Python ${{ matrix.python }} - ${{ matrix.backend }}${{ matrix.pre-release && ' (PRE-RELEASE)' || '' }}
    runs-on: ${{ matrix.os }}
    env:
      MPLBACKEND: agg
      PLATFORM: ${{ matrix.os }}
      DISPLAY: :42
    steps:
      - uses: actions/checkout@v5
        with:
          filter: blob:none
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python }}

      - name: Install backend
        run: |
          if [ "${{ matrix.backend }}" = "tensorflow" ]; then
            if [ "${{ matrix.pre-release }}" = "true" ]; then
              uv pip install --system --pre tensorflow
            else
              uv pip install --system tensorflow
            fi
          else
            if [ "${{ matrix.pre-release }}" = "true" ]; then
              uv pip install --system --pre torch
            else
              uv pip install --system torch
            fi
          fi

      - name: Install package with test dependencies
        run: |
          if [ "${{ matrix.pre-release }}" = "true" ]; then
            uv pip install --system --pre -e .[test]
          else
            uv pip install --system -e .[test]
          fi

      - name: Run tests
        run: uv run --no-sync pytest -v --cov --color=yes

      - name: Upload coverage
        uses: codecov/codecov-action@v5

  check:
    name: Tests pass in all environments
    if: always()
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
